#imCel5_00 {position: absolute; top: 0px; left: 10px; height: 816px; width: 816px; }
#imObj5_00 {text-align: left; }
#imObj5_00 img {margin: 2px; vertical-align: bottom; cursor: pointer; }
#imObj5_00 {padding: 0px; }
#imCel5_00_Cont {text-align: center; height: 816px; overflow: hidden; }
#imPage {position: relative; height: 826px; }

