body {margin: 0; padding: 0; background-color: #FFFFFF; }
#imSite {width: 988px; margin: 15px auto; text-align: left; }
#imHeader {height: 120px; background-color: #FFFFFF; }
#imBody {background-color: #FFFFFF; }
#imMenuMain {width: 148px; float: left; padding: 11px 0 0 7px; }
#imContent {width: 826px; float: left; margin-top: 1px; }
#imFooter {clear: both; height: 25px; background-color: #FFFFFF; }

