body {margin: 0; padding: 0; background-image: url('bg.jpg'); }
#imSite {width: 884px; margin: 0px auto; text-align: left; }
#imHeader {height: 234px; background-color: #0F0F0F; background-image: url('top.jpg'); background-repeat: no-repeat; background-position: left top; }
#imBody {background-color: #FFFFFF; background-image: url('content.jpg'); background-repeat: repeat-y; background-position: left top; }
#imMenuMain {width: 150px; float: left; padding: 21px 0 0 12px; }
#imContent {width: 710px; float: left; margin-top: 11px; }
#imFooter {clear: both; height: 87px; background-color: #C0C0C0; background-image: url('bottom.jpg'); background-repeat: no-repeat; background-position: left top; }

